streamlit==1.33.0
langchain==0.1.16
langchain-community==0.0.34
langchain-text-splitters==0.0.1
sentence-transformers==2.6.1
pypdf==4.1.0
huggingface_hub==0.22.2
chromadb==0.4.22
numpy==1.24.4
protobuf==3.20.3